@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$grisOscuro;
    margin-bottom: 0;
    
}

.contenedor-footer{
    padding: v.$separacion / 2;

    display: flex;
    flex-direction: column;
    // flex: 1rem;
    // align-items: center;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}
.contacto{
    p{
        line-height: 2.6rem;
        font-size: 1.4rem;
        color: v.$blanco;
    }
}
.contacto-titulo{
    h3{
        font-weight: v.$bold;
        color: v.$blanco;
        font-size: 1.8rem;
        text-transform: uppercase;
        text-align: start;
        border-left: 3px solid #1ca4e4;
        padding-left: 1.5rem;
        
    }
}

.social{
    width: 10rem;
    display: flex;
    justify-content:space-between ;
    // margin-right: 1rem;
    // font-size: 1.6rem;
    // color: #999;
    // padding: 1rem 1.3rem;
    // transition: 400ms;
}

.entidades{
    background-color: v.$blanco;
    margin-top: 0;

    
}
.contenedor-entidades{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    
    
}
.entidad{
    width: 100%;
    height: auto;
    @include m.tablet {
        height: 10rem;
        width: 40rem;
    }
    
}