@use 'base/variables' as v;
@use 'base/mixins' as m;

/*banners*/
.seccion-slider{
    // background-color: v.$gris;
    // height: 1rem;
    margin-bottom: 2rem ;
    margin-top: 2rem;
}

.slider{
    max-width: 100%;
}


/*cards*/
.seccion-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
   
    @include m.tablet {
        
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.card{
    // background-color: v.$gris;
    // padding: 1rem;
    

}
.card__imagen{
    max-width: 100%;
}



/*servicios*/


// .servicios{
//     margin-top: 2rem;

//     /*alineo los elementos dentro del div*/
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center; 

//    h2{
//     text-align: center;
//     font-size: v.$bold;
//     text-transform: uppercase;
//    }
// }

.bg-gris{
    background-color: v.$gris;
    padding:0
    // width: 100%;
}
.bg-grisOscuro{
    background-color: v.$grisOscuro;
}



.noticias{//inicio de section servicio
    margin-top: 2rem;

    /*alineo los elementos dentro del div*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
}
.titulo-general{
    width: 100%;
    
    
    h2{
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: v.$bold;
    }

}

.dark{
    width: 100%;
}

.servicios{
    padding-bottom: 2rem;
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;        
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

    .servicio-icono{
        height: 17rem;
        width: 17rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 50%;
        // background-color: v.$grisOscuro;
    }
}


/*seccion noticias*/

.seccion-noticias{
    background-color: aquamarine;
}

.contenedor-noticias{
     /*alineo los elementos dentro del div*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;    
    }
    
}



@include m.tablet {
    .iconos-nosotros {
        @include m.grid(3, 2rem);
    }
}

.icono {
    text-align: center;
    img {
        height: 20rem;
    }
    h3 {
        text-transform: uppercase;
    }
}