@use 'base/variables' as v;
@use 'base/mixins' as m;

/*banners*/
.seccion-slider{
    // background-color: v.$gris;
    // height: 1rem;
    margin-bottom: 2rem ;
    margin-top: 2rem;
}

.slider{
    max-width: 100%;
}


/*cards*/



@include m.tablet {
    .cards {
        //cuantas columnas y el espacio
        @include m.grid(3, 1rem);
    }
}

.card {
    text-align: center;
    
    img {
        height: 23.6rem;
    }
    // h3 {
    //     text-transform: uppercase;
    // }
}



/*servicios*/

.servicios{
    padding-top: 2rem;
}

@include m.tablet {
    .contenedor-servicios {
        @include m.grid(3, 2rem);
    }
}

.bg-gris{
    background-color: v.$gris;
    padding:0
    // width: 100%;
}
.bg-grisOscuro{
    background-color: v.$grisOscuro;
    // padding-top: 2rem;
    padding: 2rem 0;
}


.servicios-titulo{
    width: 100%;
    
    
    h2{
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: v.$bold;
    }

}


.contenedor-servicios{
    @include m.tablet {
        @include m.grid(3, 2rem);
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


.servicio-img{
    height: 15rem;
}


/*seccion noticias*/

.seccion-noticias{
    background-color: aquamarine;
    h1{
        text-transform: uppercase;
        font-size: v.$black;
        text-align: start
    }

//     /*alineo los elementos dentro del div*/
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center; 
}





@include m.tablet {
    .iconos-nosotros {
        //cuantas columnas y el espacio
        @include m.grid(3, 1rem);
    }
}

.icono {
    text-align: center;

    img {
        height: 23.6rem;
    }
    h3 {
        font-size: v.$black;
        text-transform: uppercase;
    }
}



/*borde*/
.borde{
    border-bottom: 1px solid v.$gris;
    margin-bottom: 2.5rem;
    
}