@use 'base/variables' as v;
@use 'base/mixins' as m;

/*banners*/
.seccion-slider{
    // background-color: v.$gris;
    // height: 1rem;
    margin-bottom: 2rem ;
}

.slider-imagen{
    max-width: 100%;
}


/*cards*/
.seccion-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
   
    @include m.tablet {
        
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.card{
    // background-color: v.$gris;
    // padding: 1rem;
    

}
.card__imagen{
    max-width: 100%;
}

/*servicios*/

.servicios{

}

.seccion-servicios{
    // background-color: v.$grisOscuro;
    text-align: center;
    font-size: v.$bold;
    text-transform: uppercase;    
}

.servicio-imagen{
    background-color: v.$grisOscuro;
    // background-size: cover;
    height: 5rem;
    width: 5rem;
}

// .servicio-titulo{
//     background-color: v.$gris;
//     text-align: center;
//     font-size: v.$bold;
//     text-transform: uppercase;
    
// }

// .servicio-tipos{
//     background-color: v.$grisOscuro;

//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     gap: 1rem;
   
//     @include m.tablet {
        
//         grid-template-columns: repeat(3, 1fr);
        
//     }
// }