@use 'base/variables' as v;
@use 'base/mixins' as m;

/*banners*/
.seccion-slider{
    // background-color: v.$gris;
    // height: 1rem;
    margin-bottom: 2rem ;
}

.slider-imagen{
    max-width: 100%;
}


/*cards*/
.seccion-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
   
    @include m.tablet {
        
        grid-template-columns: repeat(3, 1fr);
        
    }
}

.card{
    // background-color: v.$gris;
    // padding: 1rem;
    

}
.card__imagen{
    max-width: 100%;
}

/*servicios*/


.servicios{
    margin-top: 2rem;

    /*alineo los elementos dentro del div*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 

   h2{
    text-align: center;
    font-size: v.$bold;
    text-transform: uppercase;
   }
}

.bg-gris{
    background-color: v.$gris;
}



.servicios-tipo{
    padding-bottom: 2rem;
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;        
    }
    
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio{
    .iconos{
        height: 20rem;
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 50%;
        // background-color: v.$grisOscuro;
    }
    
}






