@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 3rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    //menu burguer propieddes para ocultar
    // display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;
    //fin
    @include m.tablet {
        display:flex;
        align-items: center;

        //burger
        opacity: 1;
        visibility: visible;
    }

    a{
        color: v.$blanco;
        font-size: 1.6rem;
        display: block;
        text-align: center;
        @include m.tablet {
            margin-right: 2rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

// menu burguer
.mobile-menu{
    @include m.tablet {
        display:none;
    }

    img{
        width: 5rem;
    }
}

.mostrar{//burguer
    // display: block;
    // display: flex;
    // flex-direction: column;

    // @include m.tablet {
    //     flex-drection:row;
    // }
    visibility: visible;
    opacity: 1;
}

/*dropdown*/
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}