@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 3rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    //menu burguer propieddes para ocultar
    // display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;
    //fin
    @include m.tablet {
        display:flex;
        align-items: center;

        //burger
        opacity: 1;
        visibility: visible;
    }

    a{
        color: v.$blanco;
        font-size: 1.6rem;
        display: block;
        text-align: center;
        @include m.tablet {
            margin-right: 2rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

// menu burguer
.mobile-menu{
    @include m.tablet {
        display:none;
    }

    img{
        width: 5rem;
    }
}

.mostrar{//burguer
    // display: block;
    // display: flex;
    // flex-direction: column;

    // @include m.tablet {
    //     flex-drection:row;
    // }
    visibility: visible;
    opacity: 1;
}